  1 [mariadb]
  2 
  3 innodb_flush_method = O_DIRECT
  4 innodb_file_per_table=1
  5 innodb_buffer_pool_size=1G
  6 innodb_log_file_size=512M
  7 
  8 performance_schema=0
  9 sql-mode="NO_ENGINE_SUBSTITUTION"
 10 
 11 innodb_read_io_threads = 20
 12 innodb_write_io_threads = 2
 13 innodb_doublewrite = 0
 14 innodb_flush_log_at_trx_commit = 2
 15 innodb_io_capacity = 2000
 16 innodb_io_capacity_max = 5000
